@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');
* {
    margin: 1.5;
    padding: 0;
    border: none;
}
body {
    font-family: Staatliches, sans-serif;
    font-weight: 300;
}