@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');
* {
    margin: 1.5;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
} 
/* headings and logo */
h1, h2 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}
/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid blue;
}
.active{ 
    border-bottom: 1px solid blue;
}
/* bg image */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#cover-text, #cover-text h2 {
      color: #3a3a3a;
}
#hero-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/Hero\ image.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}
#cover-text {
    font-size: 190%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 600px;
    height: 200px;

    padding-top: 50px;
    padding-left: 20px;

    background-color: hsla(146, 74%, 32%, 0.452), 109,107,.5;
    bottom: 130px;
    right: 110px;
    position: absolute;
}
 /* our services */

 #our-services {
    height: 600px;
 }
 #left-about {
    padding-top: 30px;
    width: 25%;
    float: left;
 }
 #right-about {
    padding-top: 30px;
    width: 25%;
    float: right;
 }
 #center-about {
    width: 60%;
    margin: 0 auto;
 }
 hr {
    border-top: 4px solid #3a3a3a;
    width: 100%
    margin 6px 0;
 }
 .left-about-heading {
    width:70%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
 }
 .right-about-heading {
    width:70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
 }
  .right-about-heading h2 {
    text-align: right;
  }
  .right-about-heading p {
    text-align: right;
  }
  #welcome {
    text-align: center;
    font-size: 300%;
    margin: 30px 0;
  }
  #circle-container {
    width: 550px;
    height: 800px;
    padding: 30px;
    border-width: 1px;
    border-radius: 100%;
    margin: 0 auto;
  }
  #circle-cover-bg {
    background: url('../images/image\ 2.JPG') no-repeat center center;
    height: 100%;
    border-radius: 100%;
  }
  /* contact info */
  #contact-info {
    background-image: url(../images/pelican.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

  }
  #contact-info div {
    color: #3a3a3a;
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
  }
  /* Media Queries */

  /* For larger to medium screens size from 1200px wide and down */
  @media screen and (max-width: 1200px) {
      #our-services {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
      }
      #welcome {
        padding: 30px 0;
        margin: 0;
  }
      #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
      }
      #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
      }
      hr {
        display: none;
      }  
}   
/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
       #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
       }
      #cover-text {
        left: 0;
      }
      #our-services {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
      }
      .left-about-heading, .right-about-heading {
        width: inherit;
      }
      .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
      }
      .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
      }
}   
