@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');
* {
    margin: 1.5;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
} 
/* headings and logo */
h1, h2 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #145a32;
}
#logo {
    float: left;
    font-size: 280%;
}
/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid blue;
}
.active{ 
    border-bottom: 1px solid blue;
}